$utilities: map-merge($utilities, ("rounded": map-merge(map-get($utilities, "rounded"),
        (
          responsive: true,
          values: map-merge(
          map-get(map-get($utilities, "rounded"), "values"),
          (
            1: 4px,
            2: 8px,
            3: 12px,
            4: 16px,
            5: 20px,
          ),
        ),
        ),
      ),
    ));