<footer class="fs-body-sm">
  <div class="container">
    <div class="d-flex flex-column flex-lg-row align-items-start justify-content-between gap-10 mb-10 mb-lg-4 mx-4">
      <img src="../assets/images/logo-white.png" alt="logo" height="32px">
      <ul class="list-unstyled d-flex flex-column flex-lg-row gap-6 gap-lg-8 align-items-start align-items-lg-end m-0">
        <li><a href="#" class="text-neutral-0">常見問題</a></li>
        <li><a href="#" class="text-neutral-0">關於我們</a></li>
        <li><a href="#" class="text-neutral-0">隱私權政策</a></li>
        <li><a href="#" class="text-neutral-0">使用者條款</a></li>
      </ul>
    </div>
    <div class="d-flex flex-column-reverse gap-8 flex-lg-row justify-content-between align-items-lg-end mx-4">
      <span class="fs-tint fs-lg-body-sm">copyright © 2024 <span class="d-none d-lg-inline ">LEARNING </span>課程網站 All Rights Reserved.</span>
      <ul class="list-unstyled d-flex gap-4 align-items-end m-0">
        <li><a href="#" class="text-neutral-0 d-block"><img src="../assets/images/icons/btn_line.png" alt="line"></a></li>
        <li><a href="#" class="text-neutral-0 d-block"><img src="../assets/images/icons/btn_yt.png" alt="yt"></a></li>
        <li><a href="#" class="text-neutral-0 d-block"><img src="../assets/images/icons/btn_fb.png" alt="fb"></a></li>
      </ul>
    </div>
  </div>
</footer>