.navbar-shadow {
  @include media-breakpoint-up(xl) {
    box-shadow: 0px 2px 40px 0px #0068FF1A;
  }
}

.list-item {
  display: block;
  padding: 12px 12px 12px 24px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;

  &:hover,
  &:focus,
  &.active {
    background: $primary-100;
    color: $neutral-0;
    font-weight: $font-weight-bold;
  }

  &:after {
    content: "\e5cc";
    font-family: "Material Symbols Outlined";
    border: none;
  }
}

.list-back {
  display: block;
  text-align: center;
  padding: 12px 12px 12px 24px;
  border-radius: 12px;

  &::before {
    content: "\e5cb";
    font-family: "Material Symbols Outlined";
    border: none;
    position: absolute;
    left: calc(0% + 24px);
  }
}

.dropdown-menu.dropdown-nav-xl {
  position: absolute;
  height: 600px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  .dropdown-list{
    width: 208px;
    height: 100%;
    max-width: 208px;
    overflow-y: auto;
  }
}

.offcanvas-nav {
  .dropdown-menu-fill {
    top: 0%;
    left: 0%;
    margin: 0px;
    border: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .offcanvas-footer {
    z-index: 1100;
    position: fixed;
    padding: 12px 24px;
    bottom: 0%;
    max-width: 367px;
    width: 100%;
    background: $neutral-0;
  }
}

