.teacher-card-sm{
  width: 100%;
  max-width: 351px;
  .teacher-img{
    width: 100%;
    z-index: -1;
    position: relative;
    display: block;
    border-radius: 20px;
    padding-left: 60px;;
  }
  .card-body{
    border-radius: 20px;
    margin-right: 24px;
    margin-top: -56px;
    padding: 24px;
  }
}

.teacher-card{
  .teacher-img{
    width: 100%;
    z-index: -1;
    position: relative;
    display: block;
    border-radius: 20px;
    padding-left: 80px;;
  }
  .card-body{
    border-radius: 20px;
    margin-right: 32px;
    margin-top: -100px;
    padding: 24px;
  }
}