.bg-course-banner {
  position: relative;
  overflow: hidden;

  &::before {
    @include media-breakpoint-up(lg) {
      content: "";
      position: absolute;
      z-index: -100;
      background-image: url(../images/deco/flower-2.png);
      width: 560px;
      height: 560px;
      top: 0%;
      left: 0%;
      transform: translate(-48px, -95px);
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url(../images/deco/flower-2.png);
    background-size: contain;
    width: 240px;
    height: 240px;
    top: 0%;
    right: 0%;
    transform: translateX(25%);

    @include media-breakpoint-up(lg) {
      width: 560px;
      height: 560px;
      top: 100%;
      right: 0%;
      transform: translate(-12px, -50%);
    }
  }
}

.bg-course-banner-sub {
  &::before {
    content: "";
    position: absolute;
    z-index: -90;
    background-image: url(../images/deco/polygon-2.png);
    background-size: contain;
    width: 40px;
    height: 40px;
    top: calc(0% + 40px);
    left: calc(0% + 16px);
    @include media-breakpoint-up(lg) {
      top: calc(0% + 80px);
      left: calc(0% + 150px);
    }
  }
  &::after {
    @include media-breakpoint-up(lg) {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      z-index: -90;
      background-image: url(../images/deco/polygon-2.png);
      background-size: contain;
      top: calc(0% + 40px);
      right: calc(0% + 360px);
    }
  }
}

.course-navtag {
  display: flex;
  justify-content: flex-start;

  .swiper-slide {
    margin-right: 8px !important;
  }

  .navtabSwiper-button-next {
    display: block;
    position: relative;
    z-index: 1400;
    margin-right: -1px;
  }
}